# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
# lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE
.idea/
*.swp
*.swo
.DS_Store

# TypeScript
node_modules/
dist/
*.tsbuildinfo
.npm
.eslintcache

# Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
local_settings.py
db.sqlite3
db.sqlite3-journal

# Logs
# *.log
# *.log.*

# Application specific
examples/mcard_crud_app/data/